In [1]:
# --- 01_carga_dataset_titanic.ipynb ---

# Objetivo: Cargar el dataset del Titanic y verificar que se ha leído correctamente.

# 1. Importar las librerías necesarias
# 'pandas' es la librería principal para trabajar con DataFrames (tablas de datos) en Python.
import pandas as pd

# 2. Cargar el dataset del Titanic directamente desde GitHub
# ¡URL ACTUALIZADA con el cambio en el nombre de la carpeta!
github_csv_url = 'https://raw.githubusercontent.com/mortemj/curso-ml/main/Fase_02/M2.1_Explorar/titanic_train.csv'

try:
    df_titanic = pd.read_csv(github_csv_url)
    print("Dataset del Titanic cargado exitosamente desde GitHub. ¡Victoria definitiva!")

    # Opcional: Ver una pequeña parte del DataFrame para confirmar que se cargó bien.
    print("\n--- Primeras filas del DataFrame cargado (opcional) ---")
    print(df_titanic.head())

except Exception as e:
    print(f"Error al cargar el dataset desde GitHub: {e}")
    print("Por favor, verifica que la URL es correcta y que el archivo 'titanic_train.csv' está dentro de esa carpeta en tu repositorio público de GitHub.")
    df_titanic = None

# 3. Mensaje de confirmación
if df_titanic is not None:
    print("\n¡Listo para la siguiente inspección!")
else:
    print("\nNo se pudo cargar el dataset. Por favor, revisa el error de carga.")

Dataset del Titanic cargado exitosamente desde GitHub. ¡Victoria definitiva!

--- Primeras filas del DataFrame cargado (opcional) ---
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

¡Listo para la siguiente inspección!